[Unit]
Description=Trident mieru server
After=network-online.target

[Service]
Type=simple
User=mita
Group=mita
SupplementaryGroups=trident
RuntimeDirectory=trident-mita
RuntimeDirectoryMode=0700
StateDirectory=mita
StateDirectoryMode=0700
Environment=MITA_UDS_PATH=/run/trident-mita/mita.sock
Environment=MITA_CONFIG_JSON_FILE=/var/lib/trident-agent/current/mita.json
ExecStart=/usr/local/bin/mita run
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
UMask=0077

[Install]
WantedBy=multi-user.target
